* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 100vh;
  background-color: rgb(170, 174, 175);
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;

  & > * {
    position: absolute;
  }
  div.strap {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 45px;
  }
  div.burger {
    position: fixed;
    z-index: 3;
    top: 15px;
    right: 15px;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    transition: 0.3s linear;
    :hover {
      cursor: pointer;
    }
  }

  .fas {
    color: whitesmoke;
    display: none;
  }
  .show {
    display: block;
  }

  img.grey {
    height: 120%;
    bottom: -20%;
    left: -15%;
    opacity: 0.2;
    animation: graey 4s linear infinite alternate;
  }
  img.color {
    height: 30%;
    bottom: 0;
    left: 0;
    animation: color 4s linear infinite alternate;
  }

  div.welcome {
    z-index: 1;
    top: 15%;
    left: 5%;
    right: 5%;
    font-family: "Saira Condensed", sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    animation: welcome 4s linear infinite alternate;

    p {
      font-weight: bold;
    }
    h1 {
      font-size: 20px;
      margin-top: 12px;
    }
    h2 {
      font-size: 20px;
      font-weight: normal;
    }
  }
}
@keyframes color {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes graey {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2%);
  }
}

@keyframes welcome {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media (orientation: portrait) and (min-width: 360px) {
  header {
    div.strap {
      height: 55px;
    }
    div.burger {
      top: 10px;
      font-size: 25px;
      line-height: 30px;
      width: 30px;
    }
    div.welcome {
      p {
        font-size: 40px;
      }
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }
}
@media (orientation: portrait) and (min-width: 411px) {
  header {
    div.burger {
      font-size: 28px;
      line-height: 35px;
      width: 35px;
    }
    div.welcome {
      p {
        font-size: 50px;
      }
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 30px;
      }
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  header {
    div.strap {
      height: 70px;
    }
    div.burger {
      font-size: 42px;
      line-height: 45px;
      width: 45px;
    }
    img {
      left: 0;
      &.grey {
        height: 130%;
        bottom: -25%;
        left: -8%;
      }
    }

    div.welcome {
      p {
        font-size: 90px;
      }
      h1 {
        font-size: 44px;
      }
      h2 {
        font-size: 38px;
      }
    }
  }
}
@media (orientation: portrait) and (min-width: 1024px) {
  header {
    div.burger {
      font-size: 47px;
      line-height: 50px;
      width: 50px;
    }
    div.welcome {
      p {
        font-size: 120px;
      }
      h1 {
        font-size: 64px;
      }
      h2 {
        font-size: 58px;
      }
    }
  }
}
@media (orientation: landscape) {
  header {
    div.burger {
      top: 10px;
      right: 15px;
      font-size: 20px;
      line-height: 30px;
      width: 30px;
    }
    img.grey {
      height: 130%;
      left: -2%;
      bottom: -10%;
    }
    img.color {
      left: 0;
      height: 40%;
    }
    div.welcome {
      top: 18%;
      left: 35%;
      right: 15%;
      font-size: 40px;
    }
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  header {
    div.burger {
      font-size: 25px;
      line-height: 35px;
      width: 35px;
    }
    div.welcome {
      top: 18%;
      left: 35%;
      right: 15%;
      font-size: 60px;
    }
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  header {
    div.strap {
      height: 66px;
    }
    div.burger {
      font-size: 45px;
      line-height: 55px;
      width: 55px;
    }

    img.grey {
      left: -15%;
    }
    img.color {
      height: 35%;
    }
    div.welcome {
      left: 50%;
      right: 10%;
      font-size: 70px;

      p {
        font-size: 100px;
      }
      h1 {
        font-size: 60px;
        margin-top: 12px;
      }
      h2 {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 1025px) {
  header {
    img.grey {
      left: -2%;
    }
  }
}
