* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: relative;
  height: 100vh;
  background-color: deepskyblue;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;

  & > * {
    position: absolute;
  }
  div.burger {
    top: 15px;
    right: 15px;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    transition: 0.3s linear;

    :hover {
      cursor: pointer;
    }
  }

  aside.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -170px;
    width: 170px;
    background-color: #000;
    transition: 0.3s linear;
    z-index: 2;
  }
  aside.menu.active {
    left: 0;
  }
  .fas {
    display: none;
  }
  .show {
    display: block;
  }
  .menu li {
    padding: 0 20px 0 20px;
  }
  .menu a {
    display: block;
    width: 100%;
    margin-top: 40px;
    font-family: "Saira Condensed", sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    text-decoration: none;
  }

  img {
    height: 50%;
    bottom: 0;
    right: 0;
  }
  div.welcome {
    z-index: 1;
    top: 8%;
    left: 5%;
    right: 5%;
    font-family: "Saira Condensed", sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    p {
      font-weight: bold;
    }
    h1 {
      font-size: 20px;
      margin-top: 12px;
    }
    h2 {
      font-size: 20px;
      font-weight: normal;
    }
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  header {
    img {
      right: -11%;
    }
    div.welcome {
      p {
        font-size: 60px;
      }
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }
}
@media (orientation: portrait) and (min-width: 411px) {
  header {
    img {
      right: -15%;
    }
    div.welcome {
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  header {
    img {
      right: 0;
    }
    div.welcome {
      h1 {
        font-size: 34px;
      }
      h2 {
        font-size: 34px;
      }
    }
  }
}

@media (orientation: landscape) {
  header {
    img {
      height: 80%;
      bottom: 0;
      right: -10%;
    }
    div.welcome {
      top: 8%;
      left: 5%;
      right: 50%;
    }
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  header {
    div.welcome {
      right: 55%;
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 22px;
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  header {
    img {
      height: 95%;
      right: -19%;
    }
    div.welcome {
      top: 15%;
      p {
        font-size: 56px;
      }
      h1 {
        margin-top: 50px;
        font-size: 34px;
      }
      h2 {
        font-size: 34px;
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  header {
    img {
      height: 85%;
      right: -9%;
    }
    div.welcome {
      top: 8%;
      left: 5%;
      right: 40%;
      text-align: left;
      p {
        font-size: 86px;
      }
      h1 {
        margin-top: 50px;
        font-size: 60px;
      }
      h2 {
        padding-top: 0;
        font-size: 60px;
      }
    }
  }
}
@media (min-width: 1024px) {
}
