* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: relative;
  height: 100vh;
  background-color: rgb(170, 174, 175);
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;

  & > * {
    position: absolute;
  }
  div.burger {
    z-index: 1;
    top: 15px;
    right: 15px;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    transition: 0.3s linear;
    :hover {
      cursor: pointer;
    }
  }

  .fas {
    color: rgb(77, 2, 2);
    display: none;
  }
  .show {
    display: block;
  }

  img.grey {
    height: 100%;
    bottom: 0;
    right: -30%;
    opacity: 0.2;
    animation: grey 4s linear infinite alternate;
  }
  img.color {
    height: 30%;
    bottom: 0;
    right: 0;
    animation: color 4s linear infinite alternate;
  }

  div.welcome {
    z-index: 1;
    top: 8%;
    left: 5%;
    right: 5%;
    font-family: "Saira Condensed", sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    animation: welcome 4s linear infinite alternate;

    p {
      font-weight: bold;
    }
    h1 {
      font-size: 20px;
      margin-top: 12px;
    }
    h2 {
      font-size: 20px;
      font-weight: normal;
    }
  }
}
@keyframes color{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-5%);
  }
}

@keyframes grey{
  0%{
    transform: translateX(0);
  }
  100%{
 
    transform: translateX(2%);
  }
}

@keyframes welcome{
  0%{
    transform: scale(1)
  }
  100%{
 
    transform: scale(1.1);
  }
}
// section {
//   font-size: 40px;
//   background-color: bisque;
//   width: 100%;
//   height: 200vh;
// }

@media (orientation: portrait) and (min-width: 360px) {
  header {
    img {
      right: -11%;
    }
    div.welcome {
      p {
        font-size: 60px;
      }
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }
}
@media (orientation: portrait) and (min-width: 411px) {
  header {
    img {
      right: -15%;
    }
    div.welcome {
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  header {
    img {
      right: 0;
    }
    div.welcome {
      h1 {
        font-size: 34px;
      }
      h2 {
        font-size: 34px;
      }
    }
  }
}

@media (orientation: landscape) {
  header {
    img {
      height: 80%;
      bottom: 0;
      right: -10%;
    }
    div.welcome {
      top: 8%;
      left: 5%;
      right: 50%;
    }
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  header {
    div.welcome {
      right: 55%;
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 22px;
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  header {
    img {
      height: 95%;
      right: -19%;
    }
    div.welcome {
      top: 15%;
      p {
        font-size: 56px;
      }
      h1 {
        margin-top: 50px;
        font-size: 34px;
      }
      h2 {
        font-size: 34px;
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  header {
    img {
      height: 85%;
      right: -9%;
    }
    div.welcome {
      top: 8%;
      left: 5%;
      right: 40%;
      text-align: left;
      p {
        font-size: 86px;
      }
      h1 {
        margin-top: 50px;
        font-size: 60px;
      }
      h2 {
        padding-top: 0;
        font-size: 60px;
      }
    }
  }
}
@media (min-width: 1025px) {
}
