section.motto {
  background-image: url(../images/motto.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  div.bg {
    padding: 30px 10px 0 10px;
    text-align: center;
    min-height: 50vh;
    color: antiquewhite;
    background-color: rgba(0, 63, 114, 0.5);
    h1 {
      font-size: 28px;
      font-family: "Saira Condensed", sans-serif;
      font-weight: bold;
    }
    p.text {
      font-size: 18px;
    }
    p.author {
      padding-top: 10px;
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {
  section.motto {
    div.bg {
      padding: 60px 20px 0 20px;
      h1 {
        font-size: 50px;
      }
      p.text {
        font-size: 30px;
      }
      p.author {
        padding-top: 20px;
        font-size: 25px;
      }
    }
  }
}
@media (min-width: 1024px) {
  section.motto {
    div.bg {
      padding: 80px 30px 20px 30px;
      min-height: 50vh;
      h1 {
        font-size: 60px;
      }
      p.text {
        font-size: 40px;
      }
      p.author {
        padding-top: 30px;
        font-size: 35px;
      }
    }
  }
}
